{#
/**
 * @file
 * Default theme implementation to display a list of past events.
 *
 * Available variables:
 * - events: An array of event objects with 'entity' and 'content' keys.
 * - pager: The pager.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('events_management/frontend') }}

<div class="events-view-navigation">
  <div class="view-tabs">
    <a href="{{ path('events_management.events_list') }}" class="view-tab">
      <span class="tab-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/></svg>
      </span>
      {{ 'List View'|t }}
    </a>
    <a href="{{ path('events_management.events_calendar') }}" class="view-tab">
      <span class="tab-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336z"/></svg>
      </span>
      {{ 'Calendar View'|t }}
    </a>
    <a href="{{ path('events_management.events_map') }}" class="view-tab">
      <span class="tab-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
      </span>
      {{ 'Map View'|t }}
    </a>
  </div>
</div>

<div class="events-listing past-events-listing">
  <div class="past-events-header">
    <h1 class="page-title">{{ 'Past Events'|t }}</h1>
    <p class="past-events-description">{{ 'Browse our previous events and see what you might have missed.'|t }}</p>
    <a href="{{ path('events_management.events_list') }}" class="event-btn event-back-btn">
      <span class="btn-icon">â†</span> {{ 'Back to Upcoming Events'|t }}
    </a>
  </div>

  {% if events %}
    <div class="past-events-grid">
      {% for event_item in events %}
        {% set event = event_item.entity %}
        <div class="event-item past-event-item">
          {% if event.field_event_image.entity %}
            <div class="event-image">
              {% if event_item.content.field_event_image|render %}
                {{ event_item.content.field_event_image }}
              {% else %}
                <img src="{{ file_url(event.field_event_image.entity.uri.value) }}" alt="{{ event.field_event_image.alt }}" />
              {% endif %}
              <div class="past-event-label">{{ 'Past'|t }}</div>
            </div>
          {% endif %}
          
          <div class="event-content">
            <h3 class="event-title">
              <a href="{{ path('events_management.event_detail', {'node': event.id}) }}">
                {{ event.label }}
              </a>
            </h3>
            
            <div class="event-meta">
              {% if event.field_event_start_date.value %}
                <span class="event-date">
                  {{ event.field_event_start_date.value|date('F j, Y - g:i A') }}
                  {% if event.field_event_end_date.value %}
                    {{ 'to'|t }} {{ event.field_event_end_date.value|date('F j, Y - g:i A') }}
                  {% endif %}
                </span>
              {% endif %}
              
              {% if event.field_event_country.entity and event.field_event_city.entity %}
                <span class="event-location">
                  {{ event.field_event_city.entity.label }}, {{ event.field_event_country.entity.label }}
                </span>
              {% endif %}
              
              {% if event.field_event_category.entity %}
                <span class="event-category">
                  <span class="event-badge">{{ event.field_event_category.entity.label }}</span>
                </span>
              {% endif %}
            </div>
            
            {% if event.field_event_description.value %}
              <div class="event-description">
                {{ event.field_event_description.value|striptags|length > 200 ? event.field_event_description.value|striptags|slice(0, 200) ~ '...' : event.field_event_description.value|striptags }}
              </div>
            {% endif %}
            
            <a href="{{ path('events_management.event_detail', {'node': event.id}) }}" class="event-read-more">
              {{ 'View details'|t }}
            </a>
          </div>
          
          <div style="clear: both;"></div>
        </div>
      {% endfor %}
    </div>
    
    {% if pager %}
      {{ pager }}
    {% endif %}
  {% else %}
    <div class="no-events-found">
      <p>{{ 'No past events found.'|t }}</p>
    </div>
  {% endif %}
</div> 